In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
conn = sqlite3.connect("superstore.db")
cursor = conn.cursor()
cursor.execute("PRAGMA foreign_keys = ON;")

# GOAL: identify actionable discount strategies that maximize profits with driving sales.

In [3]:
query = """
    SELECT COUNT(DISTINCT order_id) AS num_orders, SUM(sales) AS total_sales, SUM(profit) AS total_profit, SUM(profit)/COUNT(DISTINCT order_id) AS avg_profit
    FROM order_details
"""

df_statistics = pd.read_sql_query(query, conn)
df_statistics

   num_orders   total_sales  total_profit  avg_profit
0        5009  2.297201e+06   286397.0217   57.176487

## How does the discount percentage affect sales volume and profit?

In [4]:
query = """
    SELECT discount, COUNT(*) AS num_orders, SUM(sales)/1000000 AS "total_sales(in millions)", AVG(sales) AS avg_sales, SUM(profit) AS total_profit, SUM(profit)/COUNT(DISTINCT order_id) AS avg_profit
    FROM order_details
    GROUP BY discount
    ORDER BY discount;
"""
df_discounts = pd.read_sql_query(query, conn)
df_discounts

,discount,num_orders,total_sales(in millions),avg_sales,total_profit,avg_profit
0,0.00,4798,1.087908,226.742074,320987.6032,121.402270
1,0.10,94,0.054369,578.397351,9029.1770,101.451427
2,0.15,52,0.027559,529.971567,1418.9915,27.823363
3,0.20,3657,0.764594,209.076940,90337.3060,37.531079
4,0.30,227,0.103227,454.742974,-10369.2774,-49.143495
5,0.32,27,0.014493,536.794770,-2391.1377,-88.560656
6,0.40,206,0.116418,565.134874,-23057.0504,-124.632705
7,0.45,11,0.005485,498.634000,-2493.1111,-249.311110
8,0.50,66,0.058919,892.705152,-20506.4281,-320.412939
9,0.60,138,0.006645,48.150000,-5944.6552,-46.808309
10,0.70,418,0.040620,97.177708,-40075.3569,-116.498131
11,0.80,300,0.016964,56.545853,-30539.0392,-122.156157

## Which discount ranges (e.g., 0–10%, 10–20%, 20–50%) are most profitable?

In [5]:
cursor.execute("DROP VIEW IF EXISTS discount_range_cte")
conn.commit()

In [6]:
cursor.execute("""
CREATE VIEW discount_range_cte AS
SELECT
    od.*,
    CASE
        WHEN discount == 0 THEN "None"
        WHEN discount > 0 AND discount <= 0.2 THEN "Low(0-20%)"
        WHEN discount > 0.2 AND discount <= 0.35 THEN "Medium(20-35%)"
        WHEN discount > 0.35 AND discount <= 0.5 THEN "High(35-50%)"
        WHEN discount > 0.5 THEN "Mega(>50%)"
    END AS discount_range
FROM order_details od;
""")

conn.commit()

In [7]:
query = """
    SELECT
        drc.discount_range, COUNT(DISTINCT order_id) AS num_orders, SUM(sales)/1000000 AS "total_sales(in millions)", AVG(sales) AS avg_sales, SUM(profit) AS total_profit,
        SUM(profit)/COUNT(DISTINCT order_id) AS avg_profit
    FROM discount_range_cte drc
    GROUP BY drc.discount_range
    ORDER BY 
        CASE drc.discount_range
            WHEN "Low(0-20%)" THEN 1
            WHEN "Medium(20-35%)" THEN 2
            WHEN "High(35-50%)" THEN 3
            WHEN "Mega(>50%)" THEN 4
        END;
"""

df_discounts_ranges = pd.read_sql_query(query, conn)
df_discounts_ranges

,discount_range,num_orders,total_sales(in millions),avg_sales,total_profit,avg_profit
0,None,2644,1.087908,226.742074,320987.6032,121.402270
1,Low(0-20%),2507,0.846522,222.593279,100785.4745,40.201625
2,Medium(20-35%),234,0.117720,463.465015,-12760.4151,-54.531688
3,High(35-50%),254,0.180821,638.944516,-46056.5896,-181.325156
4,Mega(>50%),685,0.064229,75.033572,-76559.0513,-111.765038

## What are the different categories and respective sub-categories of products sold?

In [8]:
query = """
    SELECT category, sub_category
    FROM products
    GROUP BY category, sub_category
    ORDER BY category
"""
df_products = pd.read_sql_query(query, conn)
df_products

           category sub_category
0         Furniture    Bookcases
1         Furniture       Chairs
2         Furniture  Furnishings
3         Furniture       Tables
4   Office Supplies   Appliances
5   Office Supplies          Art
6   Office Supplies      Binders
7   Office Supplies    Envelopes
8   Office Supplies    Fasteners
9   Office Supplies       Labels
10  Office Supplies        Paper
11  Office Supplies      Storage
12  Office Supplies     Supplies
13       Technology  Accessories
14       Technology      Copiers
15       Technology     Machines
16       Technology       Phones

In [9]:
query = """
    SELECT p.category, COUNT(DISTINCT od.order_id) AS num_orders, SUM(od.sales) AS total_sales, SUM(od.profit) AS total_profit, SUM(od.profit)/COUNT(DISTINCT od.order_id) AS avg_profit
    FROM products p
    JOIN order_details od ON od.product_id = p.product_id
    GROUP BY category
    ORDER BY category
"""
df_products_stats = pd.read_sql_query(query, conn)
df_products_stats

          category  num_orders  total_sales  total_profit  avg_profit
0        Furniture        1764  741999.7953    18451.2728   10.459905
1  Office Supplies        3742  719047.0320   122490.8008   32.734046
2       Technology        1544  836154.0330   145454.9481   94.206573

### Which discount ranges are most profitable in each Product Categories?

In [10]:
query = """
    SELECT
        drc.discount_range, p.category, COUNT(DISTINCT drc.order_id) AS num_orders, SUM(drc.sales) as total_sakeles, SUM(drc.profit) AS total_profit,
        SUM(drc.profit)/COUNT(DISTINCT drc.order_id) AS avg_profit,
        (SUM(drc.profit)/SUM(drc.sales)) * 100 AS profit_margin
    FROM discount_range_cte drc
    JOIN products p ON drc.product_id = p.product_id
    GROUP BY drc.discount_range, p.category
    ORDER BY
        CASE drc.discount_range
            WHEN "Low(0-20%)" THEN 1
            WHEN "Medium(20-35%)" THEN 2
            WHEN "High(35-50%)" THEN 3
            WHEN "Mega(>50%)" THEN 4
        END;
"""

df_product_category_discounts_ranges = pd.read_sql_query(query, conn)
df_product_category_discounts_ranges

,discount_range,category,num_orders,total_sakeles,total_profit,avg_profit,profit_margin
0,None,Furniture,739,256025.2700,58133.0764,78.664515,22.705992
1,None,Office Supplies,2020,442150.0000,130506.1064,64.606983,29.516252
2,None,Technology,718,389733.2000,132348.4204,184.329276,33.958724
3,Low(0-20%),Furniture,654,290823.7845,14795.9525,22.623781,5.087601
4,Low(0-20%),Office Supplies,1677,237373.8850,39124.8320,23.330252,16.482366
5,Low(0-20%),Technology,746,318324.5710,46864.6900,62.821300,14.722297
6,Medium(20-35%),Furniture,230,113963.8088,-13086.4546,-56.897629,-11.482992
7,Medium(20-35%),Technology,5,3756.3050,326.0395,65.207900,8.679793
8,High(35-50%),Furniture,134,72082.8500,-31551.7069,-235.460499,-43.771448
9,High(35-50%),Technology,129,108738.4480,-14504.8827,-112.440951,-13.339240
10,Mega(>50%),Furniture,142,9104.0820,-9839.5946,-69.292920,-108.078932
11,Mega(>50%),Office Supplies,573,39523.1470,-47140.1376,-82.269001,-119.272227
12,Mega(>50%),Technology,22,15601.5090,-19579.3191,-889.969050,-125.496316

### Which discount ranges are most profitable in each Product Subcategories?

In [11]:
query = """
    SELECT
        drc.discount_range, p.category, p.sub_category, COUNT(DISTINCT drc.order_id) AS num_orders, SUM(drc.profit) AS total_profit, SUM(drc.profit)/COUNT(DISTINCT drc.order_id) AS avg_profit,
        (SUM(drc.profit)/SUM(drc.sales)) * 100 AS profit_margin
    FROM discount_range_cte drc
    JOIN products p ON drc.product_id = p.product_id
    GROUP BY drc.discount_range, p.category, p.sub_category
    ORDER BY
        CASE drc.discount_range
            WHEN "Low(0-20%)" THEN 1
            WHEN "Medium(20-35%)" THEN 2
            WHEN "High(35-50%)" THEN 3
            WHEN "Mega(>50%)" THEN 4
        END;
"""

df_product_category_and_subcategory_discounts_ranges = pd.read_sql_query(query, conn)
df_product_category_and_subcategory_discounts_ranges

,discount_range,category,sub_category,num_orders,total_profit,avg_profit,profit_margin
0,None,Furniture,Bookcases,60,6075.7117,101.261862,19.024660
1,None,Furniture,Chairs,124,21933.0961,176.879807,24.086229
2,None,Furniture,Furnishings,529,16847.9689,31.848712,27.417451
3,None,Furniture,Tables,70,13276.2997,189.661424,18.547820
4,None,Office Supplies,Appliances,265,23183.7361,87.485797,29.697538
5,None,Office Supplies,Art,452,5380.6006,11.903984,29.867933
6,None,Office Supplies,Binders,295,39314.4507,133.269324,48.044361
7,None,Office Supplies,Envelopes,148,4976.9844,33.628273,46.924130
8,None,Office Supplies,Fasteners,128,652.2052,5.095353,35.779619
9,None,Office Supplies,Labels,225,4422.0960,19.653760,47.860461
10,None,Office Supplies,Paper,737,25329.4677,34.368342,47.649516
11,None,Office Supplies,Storage,484,25528.1715,52.744156,16.172039
12,None,Office Supplies,Supplies,115,1718.3942,14.942558,5.444985
13,None,Technology,Accessories,435,35289.2539,81.124722,29.812589
14,None,Technology,Copiers,22,35556.1349,1616.187950,46.509505
15,None,Technology,Machines,29,27137.8223,935.786976,38.203990
16,None,Technology,Phones,278,34365.2093,123.615861,27.740789
17,Low(0-20%),Furniture,Bookcases,95,1549.4937,16.310460,2.848333
18,Low(0-20%),Furniture,Chairs,303,11394.1869,37.604577,6.807260
19,Low(0-20%),Furniture,Furnishings,221,2155.8299,9.754886,9.130747
20,Low(0-20%),Furniture,Tables,69,-303.5580,-4.399391,-0.668185
21,Low(0-20%),Office Supplies,Appliances,121,3583.9105,29.619095,13.740177
22,Low(0-20%),Office Supplies,Art,279,1147.1864,4.111779,12.600695
23,Low(0-20%),Office Supplies,Binders,495,29417.8090,59.429917,34.429892
24,Low(0-20%),Office Supplies,Envelopes,101,1987.1923,19.675171,33.853638
25,Low(0-20%),Office Supplies,Fasteners,87,297.3130,3.417391,24.746388
26,Low(0-20%),Office Supplies,Labels,121,1124.1580,9.290562,34.624080
27,Low(0-20%),Office Supplies,Paper,454,8724.1016,19.216083,34.453560
28,Low(0-20%),Office Supplies,Storage,293,-4249.3451,-14.502884,-6.439392
29,Low(0-20%),Office Supplies,Supplies,72,-2907.4937,-40.381857,-19.236672
30,Low(0-20%),Technology,Accessories,283,6647.3818,23.488982,13.563315
31,Low(0-20%),Technology,Copiers,37,17878.7148,483.208508,31.835858
32,Low(0-20%),Technology,Machines,33,5802.2867,175.826870,14.026867
33,Low(0-20%),Technology,Phones,438,16536.3067,37.754125,9.625885
34,Medium(20-35%),Furniture,Bookcases,36,-2947.0103,-81.861397,-15.695493
35,Medium(20-35%),Furniture,Chairs,149,-6737.1167,-45.215548,-9.623696
36,Medium(20-35%),Furniture,Tables,51,-3402.3276,-66.712306,-13.510870
37,Medium(20-35%),Technology,Machines,5,326.0395,65.207900,8.679793
38,High(35-50%),Furniture,Bookcases,18,-4255.8117,-236.433983,-58.231306
39,High(35-50%),Furniture,Tables,117,-27295.8952,-233.298250,-42.139949
40,High(35-50%),Technology,Copiers,9,2182.9752,242.552800,12.901896
41,High(35-50%),Technology,Machines,23,-10302.0725,-447.916196,-17.922478
42,High(35-50%),Technology,Phones,98,-6385.7854,-65.161076,-18.597198
43,Mega(>50%),Furniture,Bookcases,15,-3894.9394,-259.662627,-158.370656
44,Mega(>50%),Furniture,Furnishings,127,-5944.6552,-46.808309,-89.464614
45,Mega(>50%),Office Supplies,Appliances,65,-8629.6412,-132.763711,-255.123561
46,Mega(>50%),Office Supplies,Binders,526,-38510.4964,-73.213871,-106.557397
47,Mega(>50%),Technology,Machines,22,-19579.3191,-889.969050,-125.496316

## What are the different customer Segments that order products

In [12]:
query = """
    SELECT segment
    FROM customers
    GROUP BY segment;
"""
df_customer_segments = pd.read_sql_query(query, conn)
df_customer_segments

       segment
0     Consumer
1    Corporate
2  Home Office

In [13]:
query = """
    SELECT c.segment, COUNT(DISTINCT od.order_id) AS num_orders, SUM(od.sales) AS total_sales, SUM(od.profit) AS total_profit, SUM(od.profit)/COUNT(DISTINCT od.order_id) AS avg_profit
    FROM order_details od
    JOIN orders o ON od.order_id = o.order_id
    JOIN customers c ON o.customer_id = c.customer_id
    GROUP BY segment
    ORDER BY segment
"""
df_customer_segments_stats = pd.read_sql_query(query, conn)
df_customer_segments_stats

       segment  num_orders   total_sales  total_profit  avg_profit
0     Consumer        2586  1.161401e+06   134119.2092   51.863577
1    Corporate        1514  7.061464e+05    91979.1340   60.752400
2  Home Office         909  4.296531e+05    60298.6785   66.335180

### Which Customer Segment generates the highest total and average profits  at different Discount Ranges, and how do their profit margins compare?

In [14]:
query = """
    SELECT
        drc.discount_range, c.segment, COUNT(DISTINCT drc.order_id) AS num_orders, SUM(drc.profit) AS total_profit, SUM(drc.profit)/COUNT(DISTINCT drc.order_id) AS avg_profit,
        (SUM(drc.profit)/SUM(drc.sales)) * 100 AS profit_margin
    FROM discount_range_cte drc
    JOIN orders o ON drc.order_id = o.order_id
    JOIN customers c ON o.customer_id = c.customer_id
    GROUP BY drc.discount_range, c.segment
    ORDER BY
        CASE drc.discount_range
            WHEN "Low(0-20%)" THEN 1
            WHEN "Medium(20-35%)" THEN 2
            WHEN "High(35-50%)" THEN 3
            WHEN "Mega(>50%)" THEN 4
        END;
"""

df_customer_segments_discount_ranges = pd.read_sql_query(query, conn)
df_customer_segments_discount_ranges

,discount_range,segment,num_orders,total_profit,avg_profit,profit_margin
0,None,Consumer,1351,157901.9614,116.877840,29.651998
1,None,Corporate,784,102150.7824,130.294365,28.465538
2,None,Home Office,509,60934.8594,119.714851,31.004797
3,Low(0-20%),Consumer,1321,48107.4086,36.417418,10.941919
4,Low(0-20%),Corporate,761,29599.1148,38.895026,11.939182
5,Low(0-20%),Home Office,425,23078.9511,54.303414,14.520093
6,Medium(20-35%),Consumer,130,-7673.6266,-59.027897,-10.741519
7,Medium(20-35%),Corporate,63,-3370.2960,-53.496762,-12.097096
8,Medium(20-35%),Home Office,41,-1716.4925,-41.865671,-9.318226
9,High(35-50%),Consumer,129,-19654.4380,-152.359984,-24.044758
10,High(35-50%),Corporate,82,-17209.9709,-209.877694,-31.279790
11,High(35-50%),Home Office,43,-9192.1807,-213.771644,-20.862497
12,Mega(>50%),Consumer,358,-44562.0962,-124.475129,-123.636923
13,Mega(>50%),Corporate,206,-19190.4963,-93.157749,-116.355034
14,Mega(>50%),Home Office,121,-12806.4588,-105.838502,-109.522654

## What are the different Regions that customers order products from?

In [15]:
query = """
    SELECT region, COUNT(region) AS region_freq
    FROM customers
    GROUP BY region;
"""
df_customer_regions = pd.read_sql_query(query, conn)
df_customer_regions

    region  region_freq
0  Central          160
1     East          245
2    South          109
3     West          279

In [16]:
query = """
    SELECT c.region, COUNT(DISTINCT od.order_id) AS num_orders, SUM(od.sales) AS total_sales, SUM(od.profit) AS total_profit, SUM(od.profit)/COUNT(DISTINCT od.order_id) AS avg_profit
    FROM order_details od
    JOIN orders o ON od.order_id = o.order_id
    JOIN customers c ON o.customer_id = c.customer_id
    GROUP BY region
    ORDER BY region
"""
df_customer_region_stats = pd.read_sql_query(query, conn)
df_customer_region_stats

    region  num_orders  total_sales  total_profit  avg_profit
0  Central        1021  461993.3020    62040.4592   60.764407
1     East        1504  681673.2008    84575.0085   56.233383
2    South         656  319778.5651    33706.3291   51.381599
3     West        1828  833755.7924   106075.2249   58.028022

### Which Region generates the highest total and average profits at different Discount Ranges, and how do their profit margins compare?

In [17]:
query = """
    SELECT
        drc.discount_range, c.region, COUNT(DISTINCT drc.order_id) AS num_orders, SUM(drc.profit) AS total_profit, SUM(drc.profit)/COUNT(DISTINCT drc.order_id) AS avg_profit,
        (SUM(drc.profit)/SUM(drc.sales)) * 100 AS profit_margin
    FROM discount_range_cte drc
    JOIN orders o ON drc.order_id = o.order_id
    JOIN customers c ON o.customer_id = c.customer_id
    GROUP BY drc.discount_range, c.region
    ORDER BY
        CASE drc.discount_range
            WHEN "Low(0-20%)" THEN 1
            WHEN "Medium(20-35%)" THEN 2
            WHEN "High(35-50%)" THEN 3
            WHEN "Mega(>50%)" THEN 4
        END;
"""

df_customer_regions_discount_ranges = pd.read_sql_query(query, conn)
df_customer_regions_discount_ranges

,discount_range,region,num_orders,total_profit,avg_profit,profit_margin
0,None,Central,485,75845.9007,156.383300,30.157762
1,None,East,792,94135.8569,118.858405,29.349557
2,None,South,329,44419.0070,135.012179,31.739785
3,None,West,1038,106586.8386,102.684816,28.368413
4,Low(0-20%),Central,497,14216.7564,28.605144,10.863923
5,Low(0-20%),East,743,30027.9738,40.414500,13.094809
6,Low(0-20%),South,306,11518.2905,37.641472,10.741687
7,Low(0-20%),West,961,45022.4538,46.849588,11.875569
8,Medium(20-35%),Central,76,-4575.7804,-60.207637,-11.134125
9,Medium(20-35%),East,77,-3793.4012,-49.264951,-9.654375
10,Medium(20-35%),South,30,-2275.1989,-75.839963,-12.528375
11,Medium(20-35%),West,51,-2116.0346,-41.490875,-11.037800
12,High(35-50%),Central,46,-7637.0408,-166.022626,-28.545163
13,High(35-50%),East,109,-17914.7640,-164.355633,-24.066564
14,High(35-50%),South,33,-8687.1900,-263.248182,-19.852817
15,High(35-50%),West,66,-11817.5948,-179.054467,-32.944985
16,Mega(>50%),Central,174,-15809.3767,-90.858487,-134.171533
17,Mega(>50%),East,192,-17880.6570,-93.128422,-99.945395
18,Mega(>50%),South,97,-11268.5795,-116.170923,-105.481375
19,Mega(>50%),West,222,-31600.4381,-142.344316,-132.372554

## Which States do customers, who purchase products, reside in?

In [18]:
query = """
    SELECT state, COUNT(state) AS state_freq
    FROM customers
    GROUP BY state
    ORDER BY state_freq DESC;
"""
df_customer_states = pd.read_sql_query(query, conn)
df_customer_states

                   state  state_freq
0             California         211
1               New York         107
2                  Texas          88
3           Pennsylvania          42
4                   Ohio          38
5             Washington          33
6               Illinois          31
7                Florida          25
8         North Carolina          23
9               Michigan          15
10              Colorado          14
11               Georgia          13
12               Arizona          13
13              Virginia          12
14              Maryland          12
15              Kentucky          12
16             Tennessee          11
17            New Jersey          10
18               Indiana           9
19                Oregon           8
20              Delaware           8
21         Massachusetts           6
22              Arkansas           6
23              Missouri           5
24           Mississippi           5
25             Minnesota           5
26           Connecticut           5
27            New Mexico           4
28             Wisconsin           3
29                  Utah           3
30        South Carolina           2
31          Rhode Island           2
32         New Hampshire           2
33                  Iowa           2
34               Alabama           2
35               Vermont           1
36          South Dakota           1
37              Oklahoma           1
38              Nebraska           1
39               Montana           1
40  District of Columbia           1

In [19]:
query = """
    SELECT c.state, c.region, COUNT(DISTINCT od.order_id) AS num_orders, SUM(od.sales) AS total_sales, SUM(od.profit) AS total_profit, SUM(od.profit)/COUNT(DISTINCT od.order_id) AS avg_profit
    FROM order_details od
    JOIN orders o ON od.order_id = o.order_id
    JOIN customers c ON o.customer_id = c.customer_id
    GROUP BY state, region
    ORDER BY region
"""
df_customer_states_stats = pd.read_sql_query(query, conn)
df_customer_states_stats

         state   region  num_orders  total_sales  total_profit  avg_profit
0      Arizona  Central           8    3241.8980      161.2263   20.153287
1   California  Central          91   27865.3648     4243.1309   46.627812
2     Colorado  Central           9    2523.2660      191.4898   21.276644
3      Florida  Central           9    1972.5990      117.6429   13.071433
4      Georgia  Central           4     688.3240      218.1597   54.539925
..         ...      ...         ...          ...           ...         ...
86       Texas     West          73   23870.2400     1257.0908   17.220422
87        Utah     West          16   11658.1620     2434.8515  152.178219
88    Virginia     West           6    2453.2840      280.7822   46.797033
89  Washington     West         175   76618.7207    14130.0230   80.742989
90   Wisconsin     West           6    4588.4360     1319.3655  219.894250

[91 rows x 6 columns]

In [20]:
cursor.execute("DROP VIEW IF EXISTS states_ranked_by_overall_profits")
conn.commit()

In [21]:
cursor.execute("""
CREATE VIEW states_ranked_by_overall_profits AS
WITH state_summary AS (
    SELECT
        c.state, SUM(drc.profit) AS total_profit, SUM(drc.profit)/COUNT(DISTINCT drc.order_id) AS avg_profit, (SUM(drc.profit)/SUM(drc.sales)) * 100 AS profit_margin
    FROM discount_range_cte drc
    JOIN orders o ON drc.order_id = o.order_id
    JOIN customers c ON o.customer_id = c.customer_id
    GROUP BY c.state
)
SELECT
    state, total_profit, avg_profit, profit_margin,
    RANK() OVER (ORDER BY total_profit DESC) AS rank_total_profit,
    RANK() OVER (ORDER BY avg_profit DESC) AS rank_avg_profit,
    RANK() OVER (ORDER BY profit_margin DESC) AS rank_profit_margin,
    (RANK() OVER (ORDER BY total_profit DESC) + RANK() OVER (ORDER BY avg_profit DESC) + RANK() OVER (ORDER BY profit_margin DESC)) AS combined_rank
FROM state_summary;   
""")

conn.commit()

### Which States generates the highest total and average profits, and how do their profit margins compare?

In [22]:
query = """
    SELECT *
    FROM states_ranked_by_overall_profits
    ORDER BY combined_rank ASC
    LIMIT 10;
"""

df_highest_overall_regions = pd.read_sql_query(query, conn)
df_highest_overall_regions

,state,total_profit,avg_profit,profit_margin,rank_total_profit,rank_avg_profit,rank_profit_margin,combined_rank
0,Indiana,13489.5697,259.414802,34.547628,5,1,2,8
1,Arkansas,7607.7888,195.071508,33.727967,8,4,3,15
2,Massachusetts,4797.2961,149.915503,27.905032,12,7,7,26
3,Georgia,8907.6688,108.630107,25.821881,6,12,11,29
4,Alabama,1825.8816,228.235200,40.468239,25,3,1,29
5,Montana,1869.9294,233.741175,30.620045,24,2,4,30
6,Virginia,7947.3635,120.414598,23.593045,7,11,13,31
7,Wisconsin,2720.8422,143.202221,27.588895,20,9,8,37
8,South Carolina,2342.2244,180.171108,26.388115,22,5,10,37
9,Washington,18240.2336,83.288738,17.920573,3,18,21,42

### How has different Discount Ranges affected the total, average profits, and profit margins of the states with the highest overall profits?

In [23]:
query = """
    SELECT c.state, drc.discount_range, COUNT(DISTINCT drc.order_id) AS num_orders, SUM(drc.profit) AS total_profit, SUM(drc.profit)/COUNT(DISTINCT drc.order_id) AS avg_profit,
    (SUM(drc.profit)/SUM(drc.sales)) * 100 AS profit_margin
    FROM discount_range_cte drc
    JOIN orders o ON drc.order_id = o.order_id
    JOIN customers c ON o.customer_id = c.customer_id
    JOIN states_ranked_by_overall_profits sr ON c.state = sr.state
    JOIN (
        SELECT state 
        FROM states_ranked_by_overall_profits
        ORDER BY combined_rank ASC
        LIMIT 10
    ) top_states ON c.state = top_states.state
    GROUP BY drc.discount_range, c.state 
    ORDER BY sr.combined_rank,
        CASE drc.discount_range
            WHEN "Low(0-20%)" THEN 1
            WHEN "Medium(20-35%)" THEN 2
            WHEN "High(35-50%)" THEN 3
            WHEN "Mega(>50%)" THEN 4
        END;
"""

df_highest_customer_regions_discount_ranges = pd.read_sql_query(query, conn)
df_highest_customer_regions_discount_ranges

,state,discount_range,num_orders,total_profit,avg_profit,profit_margin
0,Indiana,None,27,13397.9793,496.221456,37.620011
1,Indiana,Low(0-20%),22,404.6808,18.394582,20.411786
2,Indiana,Medium(20-35%),2,-117.8820,-58.941000,-11.512836
3,Indiana,High(35-50%),1,-13.9780,-13.978000,-6.666667
4,Indiana,Mega(>50%),7,-181.2304,-25.890057,-83.842410
5,Arkansas,None,26,7025.4838,270.210915,42.093795
6,Arkansas,Low(0-20%),12,693.4392,57.786600,13.203316
7,Arkansas,Medium(20-35%),2,-96.9582,-48.479100,-20.649351
8,Arkansas,High(35-50%),1,15.9920,15.992000,13.333333
9,Arkansas,Mega(>50%),3,-30.1680,-10.056000,-121.851523
10,Massachusetts,None,18,5223.8184,290.212133,37.349645
11,Massachusetts,Low(0-20%),11,80.2766,7.297873,3.701006
12,Massachusetts,Medium(20-35%),2,-157.0815,-78.540750,-21.437169
13,Massachusetts,Mega(>50%),4,-349.7174,-87.429350,-115.247884
14,Alabama,None,5,1637.3849,327.476980,47.507802
15,Georgia,None,47,8125.0346,172.873077,31.798809
16,Alabama,Low(0-20%),2,192.3175,96.158750,18.215748
17,Georgia,Low(0-20%),35,1422.0356,40.629589,21.781798
18,Georgia,Medium(20-35%),1,-13.4330,-13.433000,-2.857143
19,Georgia,High(35-50%),4,-424.5838,-106.145950,-24.329470
20,Alabama,Mega(>50%),1,-3.8208,-3.820800,-40.000000
21,Georgia,Mega(>50%),12,-201.3846,-16.782050,-100.010230
22,Montana,None,5,1871.4171,374.283420,34.341898
23,Montana,Low(0-20%),2,7.0917,3.545850,12.452065
24,Montana,Medium(20-35%),1,-8.5794,-8.579400,-1.428571
25,Virginia,None,39,6506.9808,166.845662,30.879119
26,Virginia,Low(0-20%),25,1865.4736,74.618944,16.303358
27,Virginia,Medium(20-35%),2,-91.6006,-45.800300,-11.920673
28,Virginia,High(35-50%),2,-81.9389,-40.969450,-35.831406
29,Virginia,Mega(>50%),5,-251.5514,-50.310280,-145.067502
30,South Carolina,None,9,2264.0311,251.559011,27.957110
31,Wisconsin,None,13,2656.3826,204.337123,32.446428
32,South Carolina,Low(0-20%),5,79.1385,15.827700,10.181571
33,Wisconsin,Low(0-20%),6,159.3400,26.556667,9.728287
34,South Carolina,Mega(>50%),1,-0.9452,-0.945200,-170.000000
35,Wisconsin,Mega(>50%),1,-94.8804,-94.880400,-255.000000
36,Washington,None,129,15589.3813,120.847917,24.740518
37,Washington,Low(0-20%),120,4150.7559,34.589633,12.450211
38,Washington,Medium(20-35%),5,-327.8621,-65.572420,-16.501917
39,Washington,High(35-50%),7,-114.2063,-16.315186,-5.465849
40,Washington,Mega(>50%),18,-1057.8352,-58.768622,-77.947294

### Which States generates the lowest total and average profits, and how do their profit margins compare?

In [24]:
query = """
    SELECT *
    FROM states_ranked_by_overall_profits
    ORDER BY combined_rank DESC
    LIMIT 10;
"""

df_lowest_overall_regions = pd.read_sql_query(query, conn)
df_lowest_overall_regions

,state,total_profit,avg_profit,profit_margin,rank_total_profit,rank_avg_profit,rank_profit_margin,combined_rank
0,Colorado,-3301.0048,-38.383777,-9.093238,41,41,41,123
1,Ohio,-1255.1646,-5.251735,-1.545024,40,40,40,120
2,Tennessee,447.0073,6.040639,1.532177,36,39,39,114
3,Florida,1652.6800,11.166757,1.940695,26,37,38,101
4,Oklahoma,21.8970,10.948500,16.496406,39,38,24,101
5,North Carolina,1569.9738,12.661079,3.713464,27,36,36,99
6,Mississippi,912.7173,32.597046,8.328368,32,32,33,97
7,Pennsylvania,3274.3222,12.891032,2.715898,17,35,37,89
8,Iowa,324.8052,46.400743,21.014816,38,31,15,84
9,Illinois,5428.8462,27.983743,6.571504,11,33,34,78

### How has different Discount Ranges affected the total, average profits, and profit margins of the states with the lowest overall profits?

In [25]:
query = """
    SELECT c.state, drc.discount_range, COUNT(DISTINCT drc.order_id) AS num_orders, SUM(drc.profit) AS total_profit, SUM(drc.profit)/COUNT(DISTINCT drc.order_id) AS avg_profit,
    (SUM(drc.profit)/SUM(drc.sales)) * 100 AS profit_margin
    FROM discount_range_cte drc
    JOIN orders o ON drc.order_id = o.order_id
    JOIN customers c ON o.customer_id = c.customer_id
    JOIN states_ranked_by_overall_profits sr ON c.state = sr.state
    JOIN (
        SELECT state 
        FROM states_ranked_by_overall_profits
        ORDER BY combined_rank DESC
        LIMIT 10
    ) worst_states ON c.state = worst_states.state
    GROUP BY drc.discount_range, c.state 
    ORDER BY sr.combined_rank DESC,
        CASE drc.discount_range
            WHEN "Low(0-20%)" THEN 1
            WHEN "Medium(20-35%)" THEN 2
            WHEN "High(35-50%)" THEN 3
            WHEN "Mega(>50%)" THEN 4
        END;
"""

df_lowest_customer_regions_discount_ranges = pd.read_sql_query(query, conn)
df_lowest_customer_regions_discount_ranges

,state,discount_range,num_orders,total_profit,avg_profit,profit_margin
0,Colorado,None,34,2137.9316,62.880341,20.538037
1,Colorado,Low(0-20%),45,1604.9231,35.664958,9.099063
2,Colorado,Medium(20-35%),4,-141.4643,-35.366075,-10.897906
3,Colorado,High(35-50%),5,-491.4762,-98.295240,-24.060621
4,Colorado,Mega(>50%),23,-6410.9190,-278.735609,-130.487426
5,Ohio,None,96,6807.0728,70.907008,26.398010
6,Ohio,Low(0-20%),124,3021.9693,24.370720,10.766781
7,Ohio,Medium(20-35%),19,-871.2324,-45.854337,-7.300119
8,Ohio,High(35-50%),31,-4165.2260,-134.362129,-42.050245
9,Ohio,Mega(>50%),47,-6047.7483,-128.675496,-109.057570
10,Tennessee,None,27,2756.1872,102.081007,35.183228
11,Tennessee,Low(0-20%),44,1125.3958,25.577177,7.620719
12,Tennessee,Medium(20-35%),1,-9.1335,-9.133500,-7.142857
13,Tennessee,High(35-50%),9,-1842.8179,-204.757544,-40.379422
14,Tennessee,Mega(>50%),9,-1582.6243,-175.847144,-84.108549
15,Florida,None,56,5725.0364,102.232793,28.730811
16,Oklahoma,None,1,0.6993,0.699300,1.000000
17,Florida,Low(0-20%),84,2082.0216,24.785971,6.569803
18,Oklahoma,Low(0-20%),1,21.1977,21.197700,33.750000
19,Florida,Medium(20-35%),9,-634.5429,-70.504767,-16.502031
20,Florida,High(35-50%),11,-3424.0077,-311.273427,-12.478270
21,Florida,Mega(>50%),30,-2095.8274,-69.860913,-92.861376
22,North Carolina,None,43,3934.4224,91.498195,34.080817
23,North Carolina,Low(0-20%),69,2438.0488,35.334041,11.554716
24,North Carolina,Medium(20-35%),4,-242.3683,-60.592075,-21.852957
25,North Carolina,High(35-50%),7,-1319.8541,-188.550586,-22.220507
26,North Carolina,Mega(>50%),29,-3240.2750,-111.733621,-125.370324
27,Mississippi,None,17,1573.1752,92.539718,20.013908
28,Mississippi,Low(0-20%),12,142.8116,11.900967,7.529303
29,Mississippi,Medium(20-35%),2,-8.5794,-4.289700,-1.018861
30,Mississippi,Mega(>50%),4,-794.6901,-198.672525,-220.793249
31,Pennsylvania,None,110,8535.5699,77.596090,26.219872
32,Pennsylvania,Low(0-20%),146,3866.6719,26.484054,8.213292
33,Pennsylvania,Medium(20-35%),14,-736.8939,-52.635279,-9.769198
34,Pennsylvania,High(35-50%),31,-3749.8054,-120.961465,-12.876735
35,Pennsylvania,Mega(>50%),48,-4641.2203,-96.692090,-108.809297
36,Iowa,None,4,239.0354,59.758850,30.196488
37,Iowa,Low(0-20%),3,90.2644,30.088133,12.069499
38,Iowa,Mega(>50%),1,-4.4946,-4.494600,-73.333333
39,Illinois,None,85,7058.8279,83.045034,22.465476
40,Illinois,Low(0-20%),99,3371.6108,34.056675,10.028038
41,Illinois,Medium(20-35%),17,-457.1264,-26.889788,-5.944732
42,Illinois,High(35-50%),13,-2178.4159,-167.570454,-27.936020
43,Illinois,Mega(>50%),44,-2366.0502,-53.773868,-113.652367

## Which discount ranges generate the most profit (total, average, and margin) during different periods of time?

In [26]:
query = """
    SELECT strftime("%Y", order_date) AS year
    FROM orders
    GROUP BY year
    ORDER BY year;
"""

df_year = pd.read_sql_query(query, conn)
df_year

   year
0  2014
1  2015
2  2016
3  2017

In [27]:
query = """
    SELECT strftime("%Y", o.order_date) AS year, COUNT(DISTINCT od.order_id) AS num_orders, SUM(od.sales) AS total_sales, SUM(od.profit) AS total_profit,
    SUM(od.profit)/COUNT(DISTINCT od.order_id) AS avg_profit
    FROM order_details od
    JOIN orders o ON od.order_id = o.order_id
    GROUP BY year
    ORDER BY year
"""
df_year_stats = pd.read_sql_query(query, conn)
df_year_stats

   year  num_orders  total_sales  total_profit  avg_profit
0  2014         969  484247.4981    49543.9741   51.128972
1  2015        1038  470532.5090    61618.6037   59.362817
2  2016        1315  609205.5980    81795.1743   62.201653
3  2017        1687  733215.2552    93439.2696   55.387830

In [28]:
query = """
    SELECT strftime("%Y", o.order_date) AS year, drc.discount_range, COUNT(DISTINCT drc.order_id) AS num_orders, SUM(drc.profit) AS total_profit, 
    SUM(drc.profit)/COUNT(DISTINCT drc.order_id) AS avg_profit,
    (SUM(drc.profit)/SUM(drc.sales)) * 100 AS profit_margin
    FROM discount_range_cte drc
    JOIN orders o ON drc.order_id = o.order_id
    GROUP BY year, drc.discount_range
    ORDER BY
        CASE drc.discount_range
            WHEN "Low(0-20%)" THEN 1
            WHEN "Medium(20-35%)" THEN 2
            WHEN "High(35-50%)" THEN 3
            WHEN "Mega(>50%)" THEN 4
        END;
"""

df_discount_range_stats_each_year = pd.read_sql_query(query, conn)
df_discount_range_stats_each_year

    year  discount_range  num_orders  total_profit  avg_profit  profit_margin
0   2014            None         500    58617.1665  117.234333      27.268906
1   2015            None         559    68870.7566  123.203500      30.403851
2   2016            None         684    89341.9679  130.616912      30.019739
3   2017            None         901   104157.7122  115.602344      29.860176
4   2014      Low(0-20%)         498    18970.6859   38.093747      11.499999
5   2015      Low(0-20%)         512    21153.0116   41.314476      11.749750
6   2016      Low(0-20%)         662    23810.3198   35.967250      10.606161
7   2017      Low(0-20%)         835    36851.4572   44.133482      13.302089
8   2014  Medium(20-35%)          49    -2111.5976  -43.093829      -7.746576
9   2015  Medium(20-35%)          48    -2996.4969  -62.427019     -13.085223
10  2016  Medium(20-35%)          63    -3292.4884  -52.261721     -10.118968
11  2017  Medium(20-35%)          74    -4359.8322  -58.916651     -12.448124
12  2014    High(35-50%)          54   -12621.1067 -233.724198     -18.972718
13  2015    High(35-50%)          45    -9658.7078 -214.637951     -36.355198
14  2016    High(35-50%)          70    -7850.8001 -112.154287     -21.036340
15  2017    High(35-50%)          85   -15925.9750 -187.364412     -31.592194
16  2014      Mega(>50%)         136   -13311.1740  -97.876279    -126.239286
17  2015      Mega(>50%)         148   -15749.9598 -106.418647    -108.502631
18  2016      Mega(>50%)         173   -20213.8249 -116.842918    -117.237854
19  2017      Mega(>50%)         228   -27284.0926 -119.667073    -124.432187

In [29]:
query = """
    SELECT strftime("%Y-%m", order_date) AS year_month
    FROM orders
    GROUP BY year_month
    ORDER BY year_month;
"""

df_time = pd.read_sql_query(query, conn)
df_time

   year_month
0     2014-01
1     2014-02
2     2014-03
3     2014-04
4     2014-05
5     2014-06
6     2014-07
7     2014-08
8     2014-09
9     2014-10
10    2014-11
11    2014-12
12    2015-01
13    2015-02
14    2015-03
15    2015-04
16    2015-05
17    2015-06
18    2015-07
19    2015-08
20    2015-09
21    2015-10
22    2015-11
23    2015-12
24    2016-01
25    2016-02
26    2016-03
27    2016-04
28    2016-05
29    2016-06
30    2016-07
31    2016-08
32    2016-09
33    2016-10
34    2016-11
35    2016-12
36    2017-01
37    2017-02
38    2017-03
39    2017-04
40    2017-05
41    2017-06
42    2017-07
43    2017-08
44    2017-09
45    2017-10
46    2017-11
47    2017-12

In [30]:
query = """
    SELECT strftime("%Y-%m", o.order_date) AS year_month, COUNT(DISTINCT od.order_id) AS num_orders, SUM(od.sales) AS total_sales, SUM(od.profit) AS total_profit, SUM(od.profit)/COUNT(DISTINCT od.order_id) AS avg_profit
    FROM order_details od
    JOIN orders o ON od.order_id = o.order_id
    GROUP BY year_month
    ORDER BY year_month
"""
df_time_stats = pd.read_sql_query(query, conn)
df_time_stats

   year_month  num_orders  total_sales  total_profit  avg_profit
0     2014-01          32   14236.8950     2450.1907   76.568459
1     2014-02          28    4519.8920      862.3084   30.796729
2     2014-03          71   55691.0090      498.7299    7.024365
3     2014-04          66   28295.3450     3488.8352   52.861139
4     2014-05          69   23648.2870     2738.7096   39.691443
5     2014-06          66   34595.1276     4976.5244   75.401885
6     2014-07          65   33946.3930     -841.4826  -12.945886
7     2014-08          72   27909.4685     5318.1050   73.862569
8     2014-09         130   81777.3508     8328.0994   64.062303
9     2014-10          78   31453.3930     3448.2573   44.208427
10    2014-11         151   78628.7167     9292.1269   61.537264
11    2014-12         141   69545.6205     8983.5699   63.713262
12    2015-01          29   18174.0756    -3281.0070 -113.138172
13    2015-02          36   11951.4110     2813.8508   78.162522
14    2015-03          79   38726.2520     9732.0978  123.191111
15    2015-04          72   34195.2085     4187.4962   58.159669
16    2015-05          74   30131.6865     4667.8690   63.079311
17    2015-06          68   24797.2920     3335.5572   49.052312
18    2015-07          66   28765.3250     3288.6483   49.828005
19    2015-08          68   36898.3322     5355.8084   78.761888
20    2015-09         140   64595.9180     8209.1627   58.636876
21    2015-10          87   31404.9235     2817.3660   32.383517
22    2015-11         158   75972.5635    12474.7884   78.954357
23    2015-12         161   74919.5212     8016.9659   49.794819
24    2016-01          48   18542.4910     2824.8233   58.850485
25    2016-02          45   22978.8150     5004.5795  111.212878
26    2016-03          86   51715.8750     3611.9680   41.999628
27    2016-04          89   38750.0390     2977.8149   33.458594
28    2016-05         108   56987.7280     8662.1464   80.205059
29    2016-06          97   40344.5340     4750.3781   48.972970
30    2016-07          96   39261.9630     4432.8779   46.175811
31    2016-08          90   31115.3743     2062.0693   22.911881
32    2016-09         192   73410.0249     9328.6576   48.586758
33    2016-10         105   59687.7450    16243.1425  154.696595
34    2016-11         183   79411.9658     4011.4075   21.920260
35    2016-12         176   96999.0430    17885.3093  101.621076
36    2017-01          69   43971.3740     7140.4391  103.484625
37    2017-02          53   20301.1334     1613.8720   30.450415
38    2017-03         118   58872.3528    14751.8915  125.016030
39    2017-04         116   36521.5361      933.2900    8.045603
40    2017-05         118   44261.1102     6342.5828   53.750702
41    2017-06         133   52981.7257     8223.3357   61.829592
42    2017-07         111   45264.4160     6952.6212   62.636227
43    2017-08         111   63120.8880     9040.9557   81.450051
44    2017-09         226   87866.6520    10991.5556   48.635202
45    2017-10         147   77776.9232     9275.2755   63.097112
46    2017-11         261  118447.8250     9690.1037   37.126834
47    2017-12         224   83829.3188     8483.3468   37.872084

In [31]:
query = """
    SELECT strftime("%Y-%m", o.order_date) AS year_month, drc.discount_range, COUNT(DISTINCT drc.order_id) AS num_orders, SUM(drc.profit) AS total_profit, 
    SUM(drc.profit)/COUNT(DISTINCT drc.order_id) AS avg_profit,
    (SUM(drc.profit)/SUM(drc.sales)) * 100 AS profit_margin
    FROM discount_range_cte drc
    JOIN orders o ON drc.order_id = o.order_id
    GROUP BY year_month, drc.discount_range
    ORDER BY year_month,
        CASE drc.discount_range
            WHEN "Low(0-20%)" THEN 1
            WHEN "Medium(20-35%)" THEN 2
            WHEN "High(35-50%)" THEN 3
            WHEN "Mega(>50%)" THEN 4
        END;
"""

df_discount_range_over_time = pd.read_sql_query(query, conn)
df_discount_range_over_time

,year_month,discount_range,num_orders,total_profit,avg_profit,profit_margin
0,2014-01,None,18,2858.7547,158.819706,24.565721
1,2014-01,Low(0-20%),14,165.2015,11.800107,8.178952
2,2014-01,High(35-50%),2,-84.3356,-42.167800,-45.302750
3,2014-01,Mega(>50%),6,-489.4299,-81.571650,-124.306603
4,2014-02,None,13,836.8803,64.375408,22.311394
...,...,...,...,...,...,...
231,2017-12,None,127,12373.6771,97.430528,25.632432
232,2017-12,Low(0-20%),104,3308.8037,31.815420,13.854905
233,2017-12,Medium(20-35%),11,-307.0586,-27.914418,-8.440242
234,2017-12,High(35-50%),11,-1166.7366,-106.066964,-29.359834
235,2017-12,Mega(>50%),31,-5725.3388,-184.688348,-140.947862

In [32]:
conn.close()